<div class="mood-board">
  <div class="block-1">
    <img src="/images/7.png" />
  </div>
  <div class="block-2">
    <img src="/images/19.png" />
  </div>
  <div class="block-3">
    <img src="/images/21.png" />
  </div>
  <div class="block-4">
    <img src="/images/9.png" />
  </div>
  <div class="block-5">
    <img class="hexagon__logo" src="/images/38.png" alt="" />
  </div>
  <div class="block-6">
    <img class="hexagon__logo" src="/images/31.png" alt="" />
  </div>
  <div class="block-7">
    <img class="hexagon__logo" src="/images/27.png" alt="" />
  </div>

  <div class="text">
    <div>
      Designing in 3D allows designers to visualize creations realistically
      before they are physically produced.
      <br /><br />This means we can experiment with different shapes, textures,
      colors, and styles without the need to manufacture multiple prototypes,
      saving time and resources.
    </div>
  </div>
  <div class="hexagon">
    <div class="hexagon__interior">
      <img class="hexagon__logo" src="/images/15.png" alt="" />
    </div>
  </div>
</div>

<style>
  :root {
    --background-color: white;
    --gap: 0.5rem;
    --hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  body {
    background-color: var(----background-color);
    margin: var(--gap);
  }

  img {
    max-width: 100%;
  }

  .mood-board {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas:
      "b1 b1 b1 b1 b1 b1 b1 tx tx tx tx tx tx tx"
      "b1 b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2 b2"
      "b1 b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2 b2"
      "c1 c1 b4 b4 b4 b4 b4 b3 b3 b3 b3 b3 b3 b3"
      "c2 c2 b4 b4 b4 b4 b4 b3 b3 b3 b3 b3 b3 b3"
      "c3 c3 b4 b4 b4 b4 b4 b3 b3 b3 b3 b3 b3 b3";
    grid-gap: var(--gap);
    margin-top: 10px;
  }

  [class^="block-"] > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .block-1 {
    grid-area: b1;
  }

  .block-2 {
    grid-area: b2;
  }

  .block-3 {
    grid-area: b3;
  }

  .block-4 {
    grid-area: b4;
  }

  .block-5 {
    grid-area: c1;
  }

  .block-6 {
    grid-area: c2;
  }

  .block-7 {
    grid-area: c3;
  }

  .text {
    overflow: hidden;
    background-color: black;
    grid-area: tx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 35px;
    font-size: 14px;
    letter-spacing: 0.125em;
  }

  .hexagon {
    background-color: var(--background-color);
    grid-column: 6 / span 4;
    grid-row: 3 / span 2;
    clip-path: var(--hexagon);
    padding: var(--gap);
  }

  .hexagon__interior {
    height: 100%;
    background-color: black;
    clip-path: var(--hexagon);
  }

  .hexagon__logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .text {
      font-size: 8px;
      line-height: 1.2;
      padding: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    .text {
      font-size: 6px;
      line-height: 1.1;
      padding: 0.25rem;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .text {
      font-size: 10px;
      line-height: 1.2;
      padding: 0.5rem;
    }
  }
  @media (max-width: 375px) {
    .text {
      font-size: 5px;
      line-height: 1;
      padding: 0.25rem;
    }
  }
</style>
